#container{
    display:grid;
    grid-template-columns: 200px 500px;
    grid-template-rows: 100px 500px 100px;
}


.header{
    background-color: crimson;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    /* grid-row: 1/2;
    grid-column: 1/span3; */

}

.nav{
    background-color: orange;
    grid-row:2/3;
    grid-column: 1/span 1;
}

.main{
    background-color: yellow;
    grid-row: 2/3;
    grid-column: 2/3;
}

.footer{
    background-color: greenyellow;
    grid-row: 3/4;
    grid-column: 1/span 2; /*從第1條線開始 / 橫跨2格*/
}